{% extends 'layout/base.html' %}
{% block body %}
{% block css %}
<style>
    .form-outline .form-control{
      border:1px solid #C5C5C5  !important
  }

</style>
{% endblock %}
{% if err_msg %}
<div class="alert alert-danger mt-4">
    {{ err_msg }}
</div>
{% endif %}
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100 mt-5" style="max-width: 1200px;">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img class="rounded-circle"
                                         src="static/images/profile4.png"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1" style="color:black;font-weight: bold">Đăng Nhập</h4>
                                </div>

                                <form method="post" action=" {{ url_for('user_signin') }}">
                                    <p>Sử dụng tài khoản do nhà trường cung cấp</p>

                                    <div class="form-outline mb-4">
                                        <input type="text" name="username" id="username" class="form-control"
                                               placeholder=" "/>
                                        <label class="form-label" for="username">Username</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" name="password" id="password" class="form-control"
                                               placeholder=" "/>
                                        <label class="form-label" for="password">Password</label>
                                    </div>

                                    <div class="form-check form-switch mb-4">
                                        <label class="toggle-switch">
                                            <input type="checkbox" id="togglePassword" onclick="showPassword()">
                                            <span class="slider"></span>
                                        </label>
                                        <label class="toggle-label" for="togglePassword">Hiện mật khẩu</label>
                                    </div>
                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block btn-secondary  mb-3"
                                                type="submit">Đăng nhập
                                        </button>

                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2"
                             style="background-image: url('static/images/background.png'); background-size: cover; background-position: center;">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4"
                                 style="background-color: rgba(0, 0, 0, 0.5); border-radius: 10px;">
                                <h4 class="mb-4 text-center">TRƯỜNG THPT OPEN - Học kỳ 1 năm học 2024-2025 (241)</h4>
                                <p class="normal mb-0 text-center">Hệ thống tài khoản OHS-SSO (OHSID) sử dụng chung cho
                                    tất cả các hệ thống.
                                    Quý Thầy/Cô, CBNV, Học sinh vui lòng sử dụng tài khoản OSHID để đăng nhập hệ
                                    thống.</p>
                                <div class="text-center mt-4">
                                    <button class="btn btn-custom">
                                        LƯU Ý: TÀI KHOẢN NGƯỜI DÙNG SẼ BỊ HỦY KHI KHÔNG CÒN PHẬN SỰ TRONG TRƯỜNG HỌC!!!
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    function showPassword() {
      var x = document.getElementById("password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
</script>
{% endblock  %}