<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="https://res.cloudinary.com/djb92etex/image/upload/v1731173336/stock-vector--creative-letters-bsm-logo-design-vector-template-initial-letters-bsm-logo-design-2201351447_grhyy2.jpg"
                 alt="Avatar Logo" style="width:80px;" class="rounded-pill me-2">
            <div>
                <h3 class="mb-0 fw-bold text-dark text-muted" style="font-size: 1.2rem;">Hệ thống quản lý</h3>
                <h2 class="text-dark">Hệ thống quản lý học sinh</h2>
            </div>
        </a>
        <div class="ms-auto">
            <a class="btn btn-outline-dark d-flex align-items-center" href="/login">
                <i class="bi bi-person-fill me-2"></i> Đăng nhập
            </a>
        </div>
    </div>
</nav>